<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome, Java Hipster!</h1>
        <p class="lead">This is your homepage</p>


        <div *ngIf="isAuthenticated()">
            <div class="container">
                <div class="alert alert-success">
                    <span *ngIf="account"> You are logged in as user "{{account.login}}". </span>
                </div>
                <div *ngIf="programs">
                    <jhi-program-view [programs]="programs"></jhi-program-view>
                </div>
            </div>
        </div>
    </div>
</div>
