<div class="row mt-3">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary" *ngFor="let program of programs"
                    [class.selected]="program === selectedProgram"
                    (click)="onSelectProgram(program)">
                {{program.name}}
            </button>
            <jhi-create-entity-button [buttonText]="btnCreateTxt" [entity_new]="btnCreateEntity"></jhi-create-entity-button>
        </div>
    </div>
</div>
<div *ngIf="selectedProgram">
    <jhi-workout-view [program]="selectedProgram"></jhi-workout-view>
</div>
