<div>
    <h2>
        <span>Work Outs</span>
        <button class="btn btn-primary float-right jh-create-entity create-work-out" [routerLink]="['/', { outlets: { popup: ['work-out-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Work Out
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workOuts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Program</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workOut of workOuts ;trackBy: trackId">
                <td><a [routerLink]="['../work-out', workOut.id ]">{{workOut.id}}</a></td>
                <td>{{workOut.name}}</td>
                <td>
                    <div *ngIf="workOut.programId">
                        <a [routerLink]="['../program', workOut.programId  ]" >{{workOut.programId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../work-out', workOut.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-out/'+ workOut.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-out/'+ workOut.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
