
<div *ngIf="workOut">
    <h2><span>Work Out</span> {{workOut.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{workOut.name}}</span>
        </dd>
        <dt><span>Program</span></dt>
        <dd>
            <div *ngIf="workOut.programId">
                <a [routerLink]="['/program', workOut.programId]">{{workOut.programId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'work-out/'+ workOut.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
